.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* QuizApp.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will make the container fill the entire viewport height */
  background-color: grey;
}
.question-box {
 
    background: rgb(153, 147, 147);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
 }

 .option-button {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px ;
  border: 2px solid white;
  background-color: rgb(192, 189, 189);
}
